.location {
    padding: 15px 10px 10px;
    color: black;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 #dfeaf4;
}

.title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}
