.location {
    padding: 15px 10px 10px;
    color: black;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 #eeeeee;
}

.title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.descriptionContainer {

}
.descriptionTitle {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 500;
}

.description {
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 12px;
    color: #888;
}

.moveBtn {
    display: block;
    outline: none;
    cursor: pointer;
    border: none;
    position: relative;
    top: 0;
    background-color: transparent;
    transition: all 0.4s ease;
}

.moveBtn img {
    display: block;
    width: 40px;
}
.moveBtn img:last-child {
    margin-left: 10px;
}

.up:hover {
    top: -5px;
}

.down:hover {
    top: 5px;
}
