.imgContainer {
    width: 100%;
    max-width: max-content;
    max-height: 400px;
}

.adminTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 10px;
}

.change {
    cursor: pointer;
    margin-left: 10px;
}

.userTop {
    text-align: center;
    height: 20px;
    position: relative;
    margin: 20px 0 15px;
    padding: 0 20px;
}

.userTop button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 20px;
    left: 0;
}

.name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.img {
    display: block;
    margin: 0 auto 20px;
    max-height: 400px;
    max-width: 100%;
}

.descriptionTitle {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
}

.description {
    white-space: pre-wrap;
    font-size: 14px;
    margin-bottom: 20px;
    color: #888;
}

@media (min-width: 768px) {
   .descriptionTitle {
       font-size: 16px;
   }
    .description {
       font-size: 16px;
    }
    .change {
        display: none;
    }
}
