.step {
    display: flex;
    align-items: center;
}
.stepText {
    padding-left: 10px;
    margin-left: 15px;
    font-size: 12px;
    line-height: 1.5;
}
.pointOuter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    padding: 7px;
    background-color: #B2DAFE;
    border-radius: 25px;
    margin: 26px 0;
}
.pointInner {
    width: 11px;
    height: 11px;
    background-color: #000000;
    border-radius: 11px;
}
.pointOuter:after, .pointOuter:before {
    content: '';
    border-left: 1px solid black;
    height: 23px;
    position: absolute;
    left: 12px;
}
.pointOuter:before {
    top: -23px;
}
.pointOuter:after {
    bottom: -23px;
}

.phoneIcon {
    padding-left: 3px;
}
.phoneIcon img{
    display: block;
}
