.artifactContainer {
    position: relative;
    padding: 0 8px;
}

.top {
    position: absolute;
    top: 30px;
    padding: 0 20px;
    display: flex;

    justify-content: space-between;
    width: 100%;
}

.change {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #868686;
    color: white;
    transition: all 0.4s ease;
    font-size: 18px;
    margin-bottom: 15px;
}

.deleteBtn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #cccccc;
    display: block;
    margin: 0 auto 50px;
}

.name {
    color: black;
    font-weight: 500;
    text-align: center;
    margin: 25px 0;
}

.artifact {
    width: 100%;

}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imgContainer img {
    max-width: 100%;
    min-height: 180px;
    max-height: 300px;
    border-radius: 8px;
}

.info {
    margin: 0 auto;
    padding-bottom: 30px;
}

.audio {

}

.descriptionContainer {
    margin: 20px 0;
}

.title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.description {
    white-space: pre-wrap;
    line-height: 1.5;
    color: #525252;
}

.videoBtn {
    display: block;
    color: black;
    text-decoration: underline;
    font-size: 18px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
    background-color: #196bb1;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 15px 0;
    border-radius: 4px;
    font-size: 14px;
}

.button img{
    margin-left: 10px;
}
