.artifactContainer {
}

.top {
    position: absolute;
    top: 30px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.backBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
}
.backBtn img {
    display: block;
    cursor: pointer;
}

.name {
    color: white;
}

.artifact {
    position: absolute;
    width: 100%;
    top: 100px;
}

.imgContainer {

    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imgContainer img {
    max-width: 100%;
    min-height: 180px;
    max-height: 300px;
    border-radius: 7px;
}

.info {
    padding: 0 20px;
}

.audio {

}

.descriptionContainer {
    margin: 20px 0;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.description {
    white-space: pre-wrap;
    line-height: 1.5;
}
