.museum {
    max-width: 650px;
    margin: 0 auto;
}

.artifactContainer {
    position: relative;
}

.top {
    position: absolute;
    top: 30px;
    padding: 0 20px;
    display: flex;

    justify-content: space-between;
    width: 100%;
}

.change {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #868686;
    color: white;
    transition: all 0.4s ease;
    font-size: 18px;
    margin-bottom: 15px;
}

.deleteBtn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #cccccc;
    display: block;
    margin: 0 auto 50px;
}

.name {
    margin-right: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}

.artifact {
    position: absolute;
    width: 100%;
    top: 100px;
}

.imgContainer {

    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imgContainer img {
    max-width: 100%;
    min-height: 180px;
    max-height: 300px;
    border-radius: 7px;
}

.info {
    padding: 0 20px;
    max-width: 650px;
    margin: 0 auto;
}

.audio {

}

.descriptionContainer {
    margin: 20px 0;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.description {
    white-space: pre-wrap;
    line-height: 1.5;
}

.videoBtn {
    display: block;
    color: black;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 50px;
}
