.form {
    padding: 20px 8px 50px;
    margin: 0 auto;
    background: #f0f8ff;
    position: relative;
    min-height: 100vh;
}

.titleContainer {
    position: relative;
    text-align: center;
    max-width: 650px;
    margin: 0 auto 20px;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.fileInputContainer {
    display: flex;
    align-items: center;
    max-width: 320px;
    margin: 15px auto 0;
}

.fileInput {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileInput + label {
    color: #196bb1;
    border: 1px solid #196bb1;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 13px 0;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}

.fileName {
    margin-left: 10px;
    font-size: 10px;
}

.saveContainer {
    margin: 15px 0 20px;
}

@media (min-width: 768px) {
    .fileInputContainer {
        margin-bottom: 30px;
    }
}
