.container {
    width: max-content;
    margin: 0 auto 20px;
}

.text {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    width: max-content;
}

.required {
    color: red;
    position: absolute;
    top: 0;
    right: -8px;
}

.input {
    height: 40px;
    width: 320px;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
}

.input:focus {
    border: 1px solid #196bb1;
    background-color: white;
}

@media (min-width: 992px) and (max-width: 1200px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 650px) and (max-width: 767px) {

}
@media (min-width: 480px) and (max-width: 649px) {

}
@media (max-width: 479px) {
    .input {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}
