.button {
    display: block;
    max-width: 320px;
    width: 100%;
    outline: none;
    background-color: #196bb1;
    color: white;
    border: 1px solid #196bb1;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    margin: 15px auto 10px;
    cursor: pointer;
}
