.qrPage {
    position: relative;
}
.top {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
}
.backBtn img {
    display: block;
    cursor: pointer;
}

.name {
    text-align: center;
    margin-left: 10px;
    color: white;
    font-size: 14px;
}

.content {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px;
}

.qrContainer {
    max-width: 100%;
    width: max-content;
    background-color: #fcceb7;
    display: flex;
    margin: 0 auto;
    padding: 4px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.qrContainer img {
    max-width: 100%;
    border-radius: 5px;
    /*height: 300px;*/
}

.download {
    display: block;
    padding: 10px 0;
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: black;
}
