.title {
    text-align: center;
}

.locationContainer {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
}

.location {
    margin-bottom: 10px;
}

.relocateBtn {
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #aaa;
    margin-top: 10px;
    padding: 10px 30px;
    transition: all 0.4s ease;
    border-radius: 5px;
}
.relocateBtn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.buttonContainer {
    background-color: #f0f8ff;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    left: 0;
    right: 0;
    margin: 100px 8px 0;
    /*margin-top: 100px;*/
}

