.button {
    display: block;
    width: 100%;
    font-size: 14px;
    border: 1px solid #196bb1;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #196bb1;
    max-width: 320px;
    padding: 10px;
    margin: 15px auto 10px;
    outline: none;
    background-color: transparent;
}
