.button {
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    border: 1px solid #196bb1;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #196bb1;
    max-width: 650px;
    margin: 0 auto 10px;
    outline: none;
    background-color: transparent;
}
