.fileName {
    margin-left: 10px;
    font-size: 10px;
    max-width: 160px;
}

.fileContainer {
    display: flex;
    align-items: center;
}

.fileInput {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileInput + label {
    color: #196bb1;
    border: 1px solid #196bb1;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 13px 0;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    margin-bottom: 5px;
}

.file {
    width: 320px;
    margin: 0 auto 15px;
}

.deleteBtn {
    cursor: pointer;
    outline: none;
    border: 1px solid #196bb1;
    color: #196bb1;
    background-color: transparent;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 8px;
}

.openLink {
    margin-left: 20px;
    color: #196bb1;
    text-decoration: underline;
    font-size: 14px;
}
