.top {
    position: relative;
}

.create {
    padding: 10px 8px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 500;
}

.InputContainer {
    margin: 0 auto 10px;
    font-size: 12px;
}
.InputContainer input{
    margin-right: 10px;
}
.role {
    margin: 20px auto 10px;
    font-size: 14px;
}
