.top {
    position: relative;
}

.create {
    padding: 0 8px 10px;
}

.title {
    text-align: center;
    margin: 20px 0 30px;
    font-size: 14px;
    font-weight: 500;
}

.InputContainer {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 10px;
    font-size: 12px;
}
.InputContainer input{
    margin-right: 10px;
}

.roleContainer {
    max-width: 320px;
    margin: 0 auto;
}

.role {
    margin: 20px auto 10px;
    font-size: 14px;
}
