.button {
    display: block;
    padding: 10px 0;
    width: 100%;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: black;
}
