.print {
    padding: 0 8px;
    position: relative;
}


.topContainer {
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.itemsContainer {
    margin-top: 20px;
    padding-bottom: 150px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.active {
    outline: none;
    border: none;
    display: block;
    color: white;
    background-color: #196bb1;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 17px;
}

.button {
    border-radius: 17px;
    padding: 10px 15px;
    display: block;
    outline: none;
    border: none;
    color: black;
    background-color: #d7dee5;
    font-size: 12px;
}
