.image-gallery-image {
    height: 300px !important;
}

.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery-swipe {
    padding: 0 80px !important;
}

.image-gallery-slide-wrapper {
    width: 100%;
}

@media (max-width: 480px) {
    .image-gallery-left-nav, .image-gallery-right-nav {
        padding: 50px 0 !important;
    }
    .image-gallery-fullscreen-button {
        padding: 10px 5px 10px 0 !important;
    }
    .image-gallery-swipe {
        padding: 0 24px !important;
    }
}

.fullscreen {
    width: 100%;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}
