.enter {
    position: relative;
    z-index: -1;
    height: 280px;
    width: 100%;
    background-color: black;
    border-bottom-left-radius: 100px 20px;
    border-bottom-right-radius: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneContainer {
    width: max-content;
}

.backBtn {
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
}
.backBtn img {
    display: block;
    cursor: pointer;
}
