.createButton {

}

@media (min-width: 768px) {
    .createButton {
        display: none;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}
