.createButton {

}

.buttons {
    display: none;
}
.buttons .button {
    width: 49%;
}
@media (min-width: 768px) {
    .createButton {
        display: none;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}
