.logoutBtn {
    outline: none;
    border: none;
    background-color: #de3d58;
    padding: 7px 18px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
}

.artContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0;
}

.artImg {
    margin: 0 8px 0 0;
}

.artSquare {
    color: black;
    display: flex;
    align-items: center;
}

.printDesktop {
    display: none;
    color: white;
    padding: 7px 18px;
    font-size: 14px;
    background-color: #196bb1;
    border-radius: 8px;
}

.way {
    color: #0e4dae;
}

.admin {
    display: flex;
    align-items: center;
}

.print {
    display: block;
    margin-right: 30px;
}

@media (min-width: 768px) {
    .print {
        display: none;
    }
    .admin, .information {
        order: 3;
    }
    .artSquare {
        order: 2;
    }
    .printDesktop {
        order: 1;
        display: block;
    }
    .logoutBtn {
        font-size: 14px;
    }
}
