.container {
    width: max-content;
    margin: 0 auto 20px;
}

.text {
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    width: max-content;
}

.required {
    color: red;
    position: absolute;
    top: 0;
    right: -8px;
}

.input {
    resize: vertical;
    height: 100px;
    min-height: 40px;
    max-height: 500px;
    width: 320px;
    font-size: 14px;
    white-space: pre-wrap;
    padding: 10px 15px;
    font-weight: 400;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
}
.input:focus {
    border: 1px solid #196bb1;
    background-color: white;
}

@media (max-width: 479px) {
    .input {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}
