.container {
    max-width: 650px;
    margin: 30px auto 0;
}

.profile {

}

.people {

    padding: 10px 0;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

