.forgot {
    display: block;
    color: #005BD1;
    font-size: 14px;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.login {
    margin: 100px auto;
    max-width: 650px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}
