.forgot {
    display: block;
    color: #005BD1;
    font-size: 12px;
    text-align: center;
    width: max-content;
    margin: 0 auto 70px;
}

.loginContainer {
    padding: 0 8px;
}

.login {
    max-width: 650px;
    margin: 0 auto;
    min-height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0 -10px 16px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 30px 0;
}

.title {
    margin-bottom: 10px;
    font-weight: 500;
    padding: 0 30px;
}

.subtitle {
    margin-bottom: 70px;
    padding: 0 30px;
    color: #888;
    font-size: 12px;
}

.buttonContainer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .login {
        position: static;
        max-width: 320px;
        border-radius: 5px;
        box-shadow: 0 0 15px 0 #ebebeb;
        background-color: #ffffff;
        margin-top: 10vh;
        min-height: 100%;
        padding: 30px;
    }
    .top {
        height: 24px;
        margin: 20px 0;
    }

    .buttonContainer {
        position: static;
    }
    .title, .subtitle {
        padding: 0;
    }
}

