.container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #868686;
    color: white;
    transition: all 0.4s ease;
    font-size: 18px;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.id {
    margin-bottom: 10px;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
}
