.container {
    color: black;
    border: none;
    background-color: white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 #dfeaf4;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    position: relative;
    text-align: left;
}

.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.name {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    padding-right: 10px;
}

.btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
}
