.outer {
    background-color: #f0f8ff;
    min-height: 100vh;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    min-height: 100vh;
}

.scanner {
    margin: 0 25px;
    border-radius: 20px;
    background-color: white;
}

.scanner section {
    border-radius: 8px;
}

.form__wrong {
    text-align: center;
    font-size: 12px;
    color: #e31b1b;
    margin: 20px 0;
}

.form__right {
    text-align: center;
    font-size: 12px;
    color: #068318;
    margin: 20px 0;
}

.adminBackBtn {
    width: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
}

.CustomModal {
    background-color: #fff;
    color: #000;
    position: relative;
    max-width: 500px;
    margin: 0 40px !important;
    width: auto;
    height: 100%;
    padding: 18px;
    border-radius: 5px;
}

.titleModal {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.submitModal {
    color: white;
    padding: 12px 0;
    width: 80%;
    display: block;
    margin: 0 auto;
    max-width: 400px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #de3d58;
}

.museum {
    width: 100%;
    padding: 0 8px 30px;
    position: relative;
}

.locationContainer {
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
}

.titleContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.userTitleContainer {
    position: relative;
    text-align: center;
    margin: 25px 0;
}

.itemsTitle {
    font-weight: 500;
    font-size: 14px;
}

.cards_changing_button {
    display: block;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    color: #196bb1;
}

.itemsBottom {
    margin-bottom: 100px;
}

.buttonContainer {
    background-color: #f0f8ff;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    left: 0;
    right: 0;
    margin: 100px 8px 0;
}

.emptyLocations {
    margin-top: 100px;
    font-size: 14px;
    text-align: center;
    color: #888;
}

.topContainer {
    margin: 20px 0;
    text-align: center;
    position: relative;
}
