/*Последний шаг*/
.step {
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
}
.stepText {
    padding-left: 10px;
    margin-left: 15px;
    line-height: 1.5;
    padding-bottom: 2px;
}
.pointOuter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    padding: 7px;
    background-color: rgba(247, 120, 56, 0.3);
    border-radius: 25px;
    margin: 26px 0 0;
}
.pointInner {
    width: 11px;
    height: 11px;
    background-color: #000000;
    border-radius: 11px;
}
.pointOuter:before {
    content: '';
    border-left: 1px solid black;
    height: 23px;
    position: absolute;
    left: 12px;
}
.pointOuter:before {
    top: -23px;
}

/*Основная часть*/
.main {
    padding: 0 8px;
    position: relative;
    min-height: 100vh;
}

.logoContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logoContainer img {
    display: block;
    max-height: 50px;
    max-width: inherit;
    margin: 0 15px;
}

.nameContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 7px;
}
.nameContainer img {
    width: 110px;
    height: 35px;
}
.name {
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
}
.principe {
    margin: 20px 0;
}
.art {
    font-weight: bold;
}
.way {
    color: #f77838;
    font-weight: bold;
}
@media (max-width: 380px) {
    .name {
        font-size: 14px;
        padding-bottom: 3px;
    }
    .nameContainer img {
        width: 93px;
        height: 26px;
    }
    .stepText {
        font-size: 14px;
    }
}
@media (max-width: 302px) {
    .name {
        font-size: 12px;
    }
    .stepText {
        font-size: 12px;
    }
}

.imageContainer {
    width: 100%;
    padding: 0 35px;
    margin: 20px auto 0;
}

.imageContainer img{
    width: 100%;
    display: block;
    max-width: 450px;
    margin: 0 auto;
}

.title {
    margin: 40px 0 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.title span {
   color: #196bb1;
}

.subtitle {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
    text-align: center;
}

.linksContainer {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

.links {
    padding: 40px 40px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

}

.buttonContainer {

}

.buttonContainer a{
    display: block;
    text-align: center;
}

.text {
    font-size: 12px;
}

.scanButton {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #196bb1;
    display: block;
    width: max-content;
    padding: 15px;
    box-shadow: 0 4px 16px 0 rgba(229, 229, 229, 0.5);
    border-radius: 35px;
}
.scanButton img{
   display: block;
}
