.scannerContainer {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.scanner {
    margin: 0 25px;
    border-radius: 20px;
    background-color: white;
}

.title {
    text-align: center;
    font-size: 16px;
    margin: 25px 0 50px;
    font-weight: 500;
}

.qrContainer {
    position: relative;
    width: 100%;
}

.refresh {
    width: 25px;
    top: 15px;
    left: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    position: absolute;
}
.refresh img {
    width: inherit;
}
